* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}


.loader {
    position: relative;
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 0%, yellow);
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader::before {
    content: " ";
    position: absolute;
    top: 0.6vmin;
    left: 0.6vmin;
    right: 0.6vmin;
    bottom: 0.6vmin;
    border-radius: 50%;
    background: #222;
    z-index: 100;
}  


.loader::after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 20%, yellow);
    z-index: 1;
    filter: blur(3vmin);
}  
